<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="popfisher.androiddrawclassic">

    <application
        android:name=".application.DrawApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DrawMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BezierCurveActivity" />
        <activity android:name=".GradientCircleActivity" />
        <activity android:name=".XmlShapeActivity" />
        <activity android:name=".XmlDrawableActivity" />
        <activity android:name=".samples.SamplesActivity" />
        <activity android:name=".samples.sample1.Sample1Activity" />
        <activity android:name=".canvasdraw.text.DrawTextActivity" />
        <activity android:name=".canvasdraw.BasicDrawActivity" />
    </application>

</manifest>